.App {
  text-align: center;
}

.logo {
  width: 750px;
  padding-top: 20px;
}

.card {
  width: 100%;
}

.projects {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  margin: 10px 30px 5px 30px;
  background-color: aqua;
}

.projectCard {
  width: 50%; 

}

.mePic {
  width: 180px;
}

.projectSection {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  margin: 30px 90px 5px 140px;
  background-color: aqua;

}

.form {
  width: 30%;
  margin-left: 400px;
}